{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1>Bonjour</h1>



{#    {% for actu  in actus %}#}


{#        <div class="col s12 m8 offset-m2 l6 offset-l3">#}
{#            <div class="card-panel grey lighten-5 z-depth-1">#}
{#                <div class="row valign-wrapper">#}
{#                    <div class="col s2">#}
{#                        <img src="{{ asset('Images/actualites.jpg') }}" alt="" class="circle responsive-img">#}
{#                        <!-- notice the "circle" class -->#}
{#                    </div>#}
{#                    <div class="col s10">#}
{#              <span class="black-text">#}
{#               {{actu.contenu | truncate(50)}}#}
{#              </span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}

{% endblock %}


